.container {
	display: flex;     
	flex-direction: column;
  	justify-content: center;
  	
  	align-items: center;
  	text-align: center;
  	height: 95vh;
}

.filler {
	height: 80vh;
	width: 80vw;
	background-color: coral;    
}

.icons {
	margin-bottom: 16px;
}

p {
	font-size: 20pt;
	font-weight: bold;
}
